.nav-side {
  background: #000;
  padding: 1rem 0 0 1rem;
  position: absolute;
  z-index: 10;
}

.side-nav {
  height: 100%;
  width: 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  background-color: #fff;
  opacity: 0.9;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;
}

.side-nav a {
  padding: 10px 10px 10px 30px;
  text-decoration: none;
  font-size: 20px;
  color: #000;
  display: block;
  transition: 500ms ease-in-out;
  text-transform: capitalize;
}

.side-nav a:hover {
  color: var(--border-color);
  background: #000;
}

.side-nav .btn-close:hover {
  background-color: transparent;
}

.side-nav .btn-close {
  position: absolute;
  top: 0;
  right: 22px;
  font-size: 36px;
  margin-left: 50px;
}

@media (max-width: 360px) {
  .nav-side {
    padding: 0;
  }

  .showcase-bottom {
    display: none;
  }
}